#gift-builder-modal.active {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 999;
}

#gift-builder-modal .pdpmodal {

    width: 100%;
    height: 100%;

    background-color: #21212199;
}

#gift-builder-modal .modal-content {
    position: fixed;
    top: 50px;
    left: 50%;
    max-width: 600px;
    background-color: #fff;
    transform: translateX(-50%);
    box-shadow: 0px 0px 12px 6px rgba(0, 0, 0, 0.06);
}

#gift-builder-modal .modal-content .modal-child {
    padding: 40px;
}

#gift-builder-modal .modal-content .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

#gift-builder-modal .product-image {
    background-color: #fff;
}

#gift-builder-modal .pdpmodal img {
    max-width: 100%;
    height: auto;
}

#gift-builder-modal .product-card {
    max-width: 600px;
}

#gift-builder-modal .product-image.in-modal {
    border: none;
}

#gift-builder-modal .product-card p.product-name {
    margin-top: 20px;
    text-align: left;

}

#gift-builder-modal .product-details-wrapper {
    align-items: flex-start;

}

#gift-builder-modal .product-price-container {
    margin-left: 0;

}