button.product-primary-btn {
    width: 100% !important;
    height: 48px;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border: 1px solid transparent;
    text-decoration: none;
    color: #fff;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    background-color: #000;
    transition: color .35s ease-in-out, background-color .35s ease-in-out, border-color .35s ease-in-out, box-shadow .35s ease-in-out;
    cursor: pointer;
    padding: 0 !important;
}

button.product-primary-btn:hover {
    color: #fff;
    background-color: #333;
}

button.product-primary-btn.remove {
    color: #000;
    background-color: #fff;
    border: 1px solid #212121;
    transition: all 0.3s ease;
}

button.product-primary-btn.remove:hover {

    color: #000;
    background-color: #d9d9d9;
    border: 1px solid #212121;

}

button.product-primary-btn:hover {
    color: #fff;
    background-color: #333;
}