.offerbar-container {
    position: sticky;
    bottom: -120px;
    width: 100vw;
    margin-inline-start: 50%;
    padding: 20px 0 40px;
    color: #fff;
    background-color: rgba(33, 33, 33, 95%);
    transform: translateX(-50%);
    z-index: 99;
}

.offerbar-container.item-selected {
    bottom: 0;
    animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.offerbar-container.no-item-selected {
    bottom: -120px;
    animation: slide-out-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.offerbar-container-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offerbar-container .selected-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 20px 0;
}

.offerbar-container .selected-item {
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
}

.offerbar-container .original-price {
    color: #9F9F9F;
}

.offerbar-container .addtocart-btn {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.offerbar-container .addtocart-btn.adding {
    pointer-events: none;
}

.offerbar-container .addtocart-btn:hover {
    color: #000;


}

@keyframes slide-in-bottom {
    0% {

        bottom: -120px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes slide-out-bottom {
    0% {
        bottom: 0;
    }

    100% {
        bottom: -120px;
    }
}